.form {
    display: flex;
    flex-direction: column;
    background-color: #3f3f3f;
    padding: 20px;
    border-radius: 10px;
}

.label {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: #cccccc;
    position: relative;
    margin-bottom: 25px;
}

.label input, .selectGender {
    padding: 10px;
    font-size: 17px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #575757;
    color: #eeeeee;
    transition: all .3s ease;
    border-bottom: 5px solid transparent;
}

.label input:focus {
    color: #dedede;
    background-color: #737373;
}

.t_and_c {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    line-height: normal;
    font-size: 16px;
}

.actionBtn {
    width: 130px;
    font-size: 15px;
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    text-transform: uppercase;
    color: #e1e1e1;
    background-color: #626262;
    margin: 10px auto;
    transition: all .3s ease;
}

.actionBtn:hover {
    color: #1e1e1e;
    background-color: #d2d2d2;
}

.actionBtn:disabled {
    color: #bebebe;
    background-color: #464646;
    cursor: auto;
}

input.invalidField {
    border-bottom: 5px solid #ff5f5f;
}

.error {
    bottom: 0;
    line-height: normal;
    transform: translateY(120%);
    position: absolute;
    font-size: 15px;
    font-weight: 400;
    color: #ec5252;
}