.pagination {
    padding: 10px;
    /*background-color: #6b6b6b;*/
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
}

.btn {
    padding: 5px 10px;
    background-color: #858585;
    border-radius: 5px;
    color: white;
    transition: all .3s ease;
}

.btn:hover {
    background-color: #5d5d5d;
}

.page_number {
    font-size: 15px;
    font-weight: 700;
}

.countSelector {
    padding: 5px;
    border-radius: 5px;
    background-color: #5e5e5e;
    color: white;
    transition: all .3s ease;
    font-family: "Roboto", sans-serif;
}

.countSelector:hover {
    background-color: #dcdcdc;
    color: #363636;
}
