.header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.logoAndBtn {
    display: flex;
    justify-content: space-between;
}


.search {
    width: auto;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 30px;
    text-align: center;

}

.throwErrorBtn {
    background-color: #c99e9e;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    height: 40px;
    padding: 10px;
    color: black;
    border-radius: 50px;
    transition: all .3s ease;
}

.throwErrorBtn:hover {
    background-color: #8d1a1a;
    color: white;
}
